* {
  box-sizing: border-box;
}

html {
  // font-size: 62.5%; //converts rems which are a base of 16px to equate to base 10 pixel size (1rem now eauals 10px instea of 16px). just easier to remember, so now each rem is equivalent to 10px in size but will scale better than pixels do
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: $font-size-medium;
  line-height: 1.6;
}

button {
  cursor: pointer;
}
